*.class
/target/
*.jar
*.war
.idea
.metadata
/src/main/resources/database.properties
TrainingCoursesManagementSystem.iml
/bin/
.classpath
.project
.settings
#NetBeans gitignore
**/META-INF
nb-configuration.xml